img{
    width: 100%;
}
.logo-img{
    width: 80px;
}
.nav-link{
    color: navy;
    font-size: 1.2rem;
    font-weight: 900;
}
h1{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
footer{
    background-color: black;
    color: aliceblue;
    padding-top: 20px;
    padding-bottom: 20px;
}
.zoom:hover{
    transform:scale(2) ;
}
.zoom{
    transition: 0.5s;
}
.col-md-5{
    overflow: hidden;
}

