img, video{
    width: 100%;
}
.navbar{
    background-color: #c2b6a5;
}
.red{
    color: rgb(136, 38, 38);
    text-align: center;
    
}
.fff {
    color: rgb(136, 38, 38);
    text-align: center;
    font-weight: 900;
    font-size: 40px;
}

.square-bg{
    background-image: url();
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.tovary{
    text-align: center;
    padding: 15px;
}
.yellow{
    background-color: rgb(255, 209, 4);
    font-size: 25px;
    padding: 30px;
}
.blue{
    background-color: rgb(189, 222, 240);
    font-size: 25px;
    padding: 75px;
}
.bla{
    background-color: bisque;
    font-size: 25px;
    padding: 30px;
}
.rdd {
    background-color: rgba(244, 175, 150, 0.734);
    font-size: 25px;
    padding: 30px;
}

.ht {
    font-size: 70px;
    font-weight: 900;
}

@media screen and (max-width: 1279px) {
    .ht {
        font-size: 32px;
    }
}

.red-2 {
    color: rgb(136, 38, 38);

    padding-top: 50px;
    padding-bottom: 50px;
}
.cvv{
    color: rgb(136, 38, 38);
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 50px;
    font-weight: 900;
}
.lgg{
    background-color: rgb(164, 240, 240);
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    font-size: 20px;
    padding-bottom: 50px;
}
.ddd{
    color: rgb(136, 38, 38);
    font-size: 55px;
    font-weight: 900;
}
.sss{
    color: rgb(136, 38, 38);
    font-size: 25px;
    font-weight: 900;
}
.location{
    width: 50px;
    margin-right: 10px;
}
.mobile{
    width: 40px;
    margin-right: 10px;
}
.cobaka{
    width: 40px;
    margin-right: 10px;
    margin-top: 10px;
}