* {
    box-sizing: border-box;
}

.long-slider {
    position: relative;
    height: 300px;
    width: 100%;
    /* overflow: hidden; */
    /* transform: translateX(); */
}

.arrow-left,
.arrow-right {
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 5;
    background-color: rgba(255, 255, 255, 0.356);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    transition: 0.8s;
    font-size: 4em;
    cursor: pointer;
    user-select: none;
}

.arrow-left:hover,
.arrow-right:hover {
    background-color: rgb(107, 107, 223);

}

.arrow-right {
    right: 0;
}

.item-wrap {
    /* position: absolute; */
    display: flex;
    height: 300px;
    transition: 0.7s ease-out;
    max-width: 100%;
    overflow: auto;
    scroll-behavior: smooth;
}

.slider-item {
    /* width: 450px; */
    margin-left: 10px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
}

.item-wrap img {
    height: 100%;
    width: auto !important;
}



/* Works on Chrome, Edge, and Safari */

.item-wrap::-webkit-scrollbar {
    height: 4px;
    /* висота/ширина скрола */
}

.item-wrap::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
    /*смужка */
}

.item-wrap::-webkit-scrollbar-thumb {
    /*те, що їздить */
    background-color: rgb(218, 218, 218);
    border-radius: 20px;
    /* border: 3px solid rgb(163, 163, 163);  */
}

.item-wrap::-webkit-scrollbar-thumb:hover {
    /*те, що їздить */
    background-color: rgb(0, 0, 0);

}

/* Works on Firefox */
.item-wrap {
    scrollbar-width: thin;
    scrollbar-color: rgb(235, 235, 235) rgba(215, 215, 215, 0.542);
}


.pdoduct-card {
    padding: 20px;
    margin-left: 20px;
    width: 300px;
    background-color: rgb(228, 228, 228);
    transition: 0.8s;
}

.pdoduct-card:hover {
    transform: scale(1.1);
    background-color: rgb(247, 244, 244);

}

.tel-btn {
    font-size: 1.1rem;
    border: 2px solid rgb(0, 0, 0);
}

.tel-btn:hover {
    box-shadow: 0px 0px 5px rgb(0, 0, 0);
}